body {
    background-image: url('/static/school.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .dashboard {
    background-color: rgba(207, 126, 176, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000066;
    text-align: center;
  }
  
  button, input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  