<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/style.css">
  <title>Student Record Manager</title>
</head>
<body>
  <div class="dashboard">
    <h1>Student Record Manager</h1>
    <button onclick="location.href='add_student.html'">Add Student</button>
    <button onclick="location.href='update_student.html'">Update Student</button>
    <button onclick="location.href='get_all_students.html'">Get All Students</button>
    <button onclick="location.href='get_student.html'">Get Student</button>
    <button onclick="location.href='delete_student.html'">Delete Student</button>
  </div>
</body>
</html>
